---
import Section from "../../../layouts/Section.astro";
import Title from "../../../layouts/Title.astro";
---

<Section title="about">
  <Title>
    <i class="fa-solid fa-home"></i>About Me
  </Title>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <p>
        I am a full-stack developer with 5 years of experience in web
        development. I have a passion for learning and sharing my knowledge with
        others as publicly as possible. I write articles, tutorials, and speak
        at conferences and meetups. I am also the creator of some open-source
        projects, which I maintain in my free time.
      </p>
    </div>
    <div>
      <p>
        I am a full-stack developer with 5 years of experience in web
        development. I have a passion for learning and sharing my knowledge with
        others as publicly as possible. I write articles, tutorials, and speak
        at conferences and meetups. I am also the creator of some open-source
        projects, which I maintain in my free time.
      </p>
    </div>
  </div>
</Section>
