<section id="projects" class="min-h-screen">
  <h1>Projects</h1>
  <ul>
    <li>
      <a href="/projects/1">Project 1</a>
    </li>
    <li>
      <a href="/projects/2">Project 2</a>
    </li>
    <li>
      <a href="/projects/3">Project 3</a>
    </li>
  </ul>
</section>
