---
import Section from "../../components/Section/index.astro";
import Title from "../../components/Title/index.astro";
import projects from "../../data/projectsData.json";
import Project from "./Project.astro";
---

<Section title="projects">
  <Title>
    <i class="fa-solid fa-bars-progress"></i>Projects
  </Title>
  <ul class="lg:pt-5 flex gap-2 flex-wrap flex-col w-full justify-center">
    {
      projects.map((project) => {
        return <Project data={project} />;
      })
    }
  </ul>
</Section>
