---
import Section from "../../../layouts/Section.astro";
import Title from "../../../layouts/Title.astro";
import Journal from "./Journal.astro";
import data from "../../data/journeyData.json";
---

<Section title="journey">
  <Title>
    <i class="fa-solid fa-compass"></i>Journey
  </Title>
  <ul class="flex flex-col mt-8">
    {
      data.map((d) => {
        if (d.id !== 2) return <Journal data={d} />;
      })
    }
  </ul>
</Section>
