<section id="journey" class="min-h-screen">
  <h1>Skill Set</h1>
  <ul>
    <li>
      <a href="/skillset/1">Skill 1</a>
    </li>
    <li>
      <a href="/skillset/2">Skill 2</a>
    </li>
    <li>
      <a href="/skillset/3">Skill 3</a>
    </li>
  </ul>
</section>
