@mixin d-flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: "Open-sans";
  color: #f1f1f1;
  transition: color .4s, background .4s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: currentColor;
  transition: filter 0.4s, opacity 0.4s, background .4s, background-color .4s;
  &:disabled {
    opacity: 0.6;
  }
}
a {
  padding: 10px;
}

input {
  border: none;
  outline: none;
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}
.fade-out {
  animation: fadeOut 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input {
  transition: color 0.4s;
}
