---
import Section from "../../../layouts/Section.astro";
import Title from "../../../layouts/Title.astro";
import data from "../../data/skillData.json";
import Skill from "./Skill.astro";
import Subtitle from "./Subtitle.astro";
---

<Section title="skillset">
  <Title><i class="fa-solid fa-computer"></i>My Skillset</Title>
  <Subtitle>Programming</Subtitle>
  {
    data.technologies && (
      <ul class="flex flex-wrap justify-center lg:justify-start gap-4 mt-4">
        {data.technologies.map((tech) => {
          return <Skill data={tech} />;
        })}
      </ul>
    )
  }
  <Subtitle>Tools</Subtitle>
  {
    data.tools && (
      <ul class="flex flex-wrap justify-center lg:justify-start gap-4 mt-4">
        {data.tools.map((tool) => {
          return <Skill data={tool} />;
        })}
      </ul>
    )
  }
</Section>
