---
const { data } = Astro.props;
---

<li>
  <a
    href={data.url}
    target="_blank"
    class="p-5 rounded-md bg-[#313952] flex flex-col justify-center items-center size-28 gap-2 cursor-pointer lg:hover:scale-[1.05] lg:hover:brightness-110 transition duration-[.4s]"
  >
    <img
      src={data.image}
      alt={`${data.name} logo`}
      class="size-10 object-contain"
    />
    <h5 class="font-semibold">
      {data.name}
    </h5>
  </a>
</li>
