---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error 404 🚫">
  <div class="mx-auto max-w-[900px] flex justify-center items-center h-screen flex-col text-center p-5">
    <h1 class="font-bold leading-none text-8xl mb-2">404</h1>
    <h2 class="leading-none text-3xl font-bold my-2">Ooops Page Not Found!</h2>
    <p class="py-1">The page you were looking for doesn´t exists</p>
    <a href="/" class="text-lg p-0 mt-2 font-bold lg:hover:text-[#ffffff90] transition duration-[.4s]">Return Home</a>
  </div>
</Layout>