---
import Home from "../shared/modules/Home/index.astro";
import Projects from "../shared/modules/Projects/index.astro";
import Journey from "../shared/modules/Journey/index.astro";
import SkillSet from "../shared/modules/SkillSet/index.astro";
import About from "../shared/modules/About/index.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Welcome ðŸ‘‹ðŸ»">
  <main class="mx-auto max-w-[900px]">
    <Home />
    <Projects />
    <Journey />
    <SkillSet />
    <About />
  </main>
</MainLayout>
