---
import SocialLinks from "../components/SocialLinks/SocialLinks.tsx";
import Layout from "../layouts/Layout.astro";
import { welcomeData } from "../utils/welcomeData.ts";
---

<Layout title="Welcome ðŸ‘‹ðŸ»">
  <div
    class="hero min-h-screen flex flex-col justify-center items-start m-auto w-fit"
  >
    <div class="flex gap-1.5 items-center">
      <img
        src={welcomeData.image}
        alt="My profile picture"
        class="w-16 object-cover rounded-full h-16"
      />
      <a
        href={welcomeData.workPage
          ? "https://gm2dev.com"
          : "https://linkedin.com/in/tomaskorzusehec"}
        target="_blank"
        class="flex items-center transition md:justify-center"
      >
        <div class="flex items-center">
          <span class="relative inline-flex overflow-hidden rounded-full p-0.5">
            <span
              class={`absolute inset-[-1000%] animate-[spin_2.5s_linear_infinite] ${welcomeData.actualWork ? "working" : "not-working"}`}
            ></span>
            <div
              class="items-center justify-center w-full px-4 py-2 text-sm rounded-full bg-slate-800 text-white/90 backdrop-blur-md hover:brightness-125 transition duration-500"
            >
              {
                welcomeData.actualWork
                  ? `Working in ${welcomeData.actualWork}`
                  : "Avaible to Work"
              }
            </div>
          </span>
        </div></a
      >
    </div>
    <h1 class="font-extrabold text-3xl">{welcomeData.title}</h1>
    <h2 class="max-w-xl">
      {welcomeData.subtitle}
    </h2>
    <SocialLinks />
    <a href="/about" class="bg-slate-800 rounded-md hover:brightness-125"
      >Get Started!</a
    >
  </div>
</Layout>

<style>
  body {
    background: radial-gradient(circle, #090921, rgb(5, 1, 51));
  }
  .not-working {
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      #27df5e 0%,
      #13aa96 50%,
      #25c293 100%
    );
  }

  .working {
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      #eb1c5a 0%,
      #6d0dcc 50%,
      #ff0080 100%
    );
  }
</style>
