---
import Layout from "../layouts/Layout.astro";

import Home from "../shared/modules/Home/index.astro";
import Projects from "../shared/modules/Projects/index.astro";
import Journey from "../shared/modules/Journey/index.astro";
import SkillSet from "../shared/modules/SkillSet/index.astro";
import About from "../shared/modules/About/index.astro";
---

<Layout title="Welcome ðŸ‘‹ðŸ»" background="true">
  <main>
    <Home />
    <Projects />
    <Journey />
    <SkillSet />
    <About />
  </main>
</Layout>
