---
import Layout from "../layouts/Layout.astro";
---

<div class="hero min-h-screen flex flex-col justify-center items-center">
  <Layout title="Welcome ðŸ‘‹ðŸ»">
    <h1 class="font-extrabold">hey guys</h1>
    <a href="/about">About</a>
    <button disabled={true}>Go back</button>
  </Layout>
</div>
