@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    list-style: none;
}

header{
    width: 100%;
    height: 60px;
    background-color: #363636;
    z-index: 1;
    position: fixed;
}

.menubar{
    display: none;
}



@media (max-width: 768px) {

    .navbar .sections{
        z-index: -1;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 43px;
        left: 0;
        right: 0;
        align-items: center;
        padding: 20px 0;
        background-color: #363636;
        box-shadow: 0 0 0 100vmax #00000080;
        opacity: 0;
        transform: translateY(-205px);
    }
    
    

    .menubar{
        display: block;
        color: #fff;
        background-color: transparent;
        border: none;
    }

    .list{
        appearance: none;
        width: 32px;
        height: 32px;
        background-color: #fff;
        background: url(../svg/list.svg) center;
        margin: 0;
        transform: translateY(-2px);
        cursor: pointer;
        position: absolute;
        right: 0;
        margin: 0 45px 0 0;
    }

    .list:checked{
        background: url(../svg/x.svg) center no-repeat;
        width: 32px;
        height: 32px;
    }

    .list:checked ~ .sections{
        opacity: 1 ;
        transform: translateY(0);
        transition: .5s;
    }

    .links{
        margin: 0 45px 0 0;
    }

}

.navbar{
    padding: 0 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6b6b6b;
    box-sizing: border-box;
    background-color: #363636;
}
header{
    background-color: #363636;
}

.navbar h2{
    margin: 0;
    color: #e2e2e2;
    font-family: "Playwrite IS", cursive;

}

.sections{
    display: flex;
    align-items: center;
    gap: 30px;
}

.sections a{
    color: #b9b9b9;
    padding: 10px 5px;
}

.sections a:hover{
    color: #fff;
    transition: 0.5s;
}

.sections a:focus{
    color: #fff;
}

.links{
    display: flex;
    align-items: center;
}

.links a{
    color: #b9b9b9;
    padding: 0 10px;
}

.links a:hover{
    color: #fff;
    transition: .5s;
}

main{
    background-color: #00000050;
    z-index: -2;
}

#home{
    height: 100vh;
    background: url(../img/yo.jpeg) top / cover fixed;
    z-index: -3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home h1{
    font-size: 32px;
    color: #fff;
    margin: 0;
}

#home p{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}