@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
    list-style: none;
}

header{
    width: 100%;
    height: 60px;
    background-color: #363636;
    z-index: 5;
    position: fixed;
}

.menubar{
    display: none;
}


@media (max-width: 768px) {

    .navbar .sections{
        z-index: -1;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        align-items: center;
        padding: 20px 0;
        background-color: #363636;
        box-shadow: 0 0 0 100vmax #00000080;
        opacity: 0;
        transform: translateY(-400px);
    }
    
    

    .menubar{
        display: block;
        color: #fff;
        background-color: transparent;
        border: none;
    }

    .list{
        appearance: none;
        width: 32px;
        height: 32px;
        background-color: #fff;
        background: url(../svg/list.svg) center;
        margin: 0;
        transform: translateY(-2px);
        cursor: pointer;
        position: absolute;
        right: 0;
        margin: 0 45px 0 0;
    }

    .list:checked{
        background: url(../svg/x.svg) center no-repeat;
        width: 32px;
        height: 32px;
    }

    .list:checked ~ .sections{
        opacity: 1 ;
        transform: translateY(43px);
        transition: .5s;
    }

    .links{
        margin: 0 45px 0 0;
    }

}

.navbar{
    margin: 0 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6b6b6b;
    box-shadow: 10px -50px 0px 50px #363636;
    box-sizing: border-box;
    background-color: #363636;
}

.navbar h2{
    margin: 0;
    color: #e2e2e2;
    font-family: "Playwrite IS", cursive;

}

.sections{
    display: flex;
    align-items: center;
    gap: 30px;
}

.sections a{
    color: #b9b9b9;
    padding: 10px 5px;
}

.sections a:hover{
    color: #fff;
    transition: 0.5s;
}

.sections a:focus{
    color: #fff;
}

.links{
    display: flex;
    align-items: center;
}

.links a{
    color: #b9b9b9;
    padding: 0 10px;
}

.links a:hover{
    color: #fff;
    transition: .5s;
}

main{
    background-color: #00000050;
    z-index: -2;
}

#home{
    height: 100vh;
    background: url(../img/yo.png) center / cover fixed;
    z-index: -3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home h1{
    font-size: 36px;
    color: #fff;
    margin: 0;
}

#home p{
    color: #b6fff5e7;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    text-align: center;
    padding: 5px 0 0 0px;
}

#home a{
    padding: 10px 20px;
    color:#fff;
    background-color: #34b7a7;
    border-radius: 50px;
    margin: 10px 0 0 0px;
}

#home a:hover{
    transition: .5s;
    background-color: #2adbc7;
}


#about{
    color: #fff;
}

.info{
    padding: 0px 0px 0 40px;
    height: 100%;
    background-color: #1c1e30;
}

.info h2{
    margin: 0;
    font-size: 24px;
}

.info p{
    font-size: 16px;
}

.line{
    padding: 70px 0 0 0;
}

hr{
    width: 20%;
    border-color: #2adbc7;
    position: absolute;
}

.habilidades{
    display: flex;
    gap: 30px;
}






#proyects{
    height: 100vh;
}

.projects h2{
    margin: 0;
}

.projects p{
    margin: 0;
}