.navbar {
  width: 250px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  z-index: 1;
  background-color: #090921;
  color: #f1f1f1;

  .logo-link {
    margin: 20px auto 15px;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    border: 5px solid #ffffff20;
  }

  .download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #104d94;
    color: #f1f1f1;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.4s;
    &:hover {
      background-color: #2683ee;
    }
  }

  nav {
    padding-left: 20px;
    padding-top: 10px;
    li {
      a {
        color: #978f8f;
        transition: color 0.4s;
        font-size: 18px;
        display: flex;
        align-items: center;
        i {
          transition: color 0.4s;
        }
        &:hover > i {
          color: #2683ee;
        }
        &:hover {
          color: #f1f1f1;
        }
      }
    }
  }

  li {
    .active-item {
      background-color: #e2e2e2;
      pointer-events: none;
    }

    a {
      padding: 12.5px;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      text-transform: capitalize;
      cursor: pointer;
      transition: background-color 0.4s;
    }
    .path-active {
        color: #f1f1f1;
        pointer-events: none;
        i{
            color: #2683ee;
        }
    }
  }
}

.toggle-btn {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 15px;
  right: 20px;
  z-index: 9;
  width: 44px;
  height: 44px;
  background-color: #090921;
  justify-content: space-around;
  padding: 10px;
  border-radius: 100%;

  .line {
    width: 100%;
    height: 4px;
    border-radius: 25px;
    background-color: #e2e2e2;
    transition: all 0.4s;
  }

  .line2 {
    width: 70%;
  }

  &.active {
    background-color: transparent;

    .line1 {
      transform: rotate(45deg);
      transform-origin: 0% 0%;
    }

    .line2 {
      width: 100%;
      transform: rotate(-45deg) translate(-10px, 20px);
      transform-origin: -100% 100%;
    }
  }
}

.socialLinks {
  li {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      transition: filter 0.4s, background-color 0.4s;
      &:hover {
        background-color: #104d94;
        // filter: brightness(1.25);
      }
    }
  }
}

@media (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar {
    width: 100%;
    height: 100%;
    position: fixed;
    align-items: center;
    transition: transform 0.4s;

    .logo-link {
      width: 110px;
      height: 110px;
    }

    nav {
      display: flex;
      align-items: center;

      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          width: 100%;
          text-align: left;
          a {
            width: 100%;
            display: flex;
            justify-content: start;
            text-align: center;
            font-size: 18px;
          }
        }
      }
    }
  }

  .menu-active {
    transform: translateX(0);
  }

  .menu-desactive {
    transform: translateX(100%);
  }
}
