---
import welcomeData from "../../data/welcomeData.json";
import SocialLinks from "../../components/SocialLinks/index.tsx";
import MailCopy from "../../components/MailCopy/index.tsx";
import ActualWork from "../../components/ActualWork/index.tsx";
---

<section
  class="hero min-h-screen flex flex-col justify-center items-start m-auto p-5 w-full gap-1 text-[#f1f1f1]"
  id="home"
>
  <div class="flex gap-1 items-center">
    <img
      src={welcomeData.image}
      alt="My profile picture"
      class="w-16 object-cover rounded-full h-16"
    />
    <ActualWork />
  </div>
  <h1 class="font-extrabold text-[22px] sm:text-3xl text-center my-1">
    {welcomeData.title}
  </h1>
  <h2 class="max-w-md text-start text-sm sm:text-base font-bold text-[#cdced1]">
    {welcomeData.subtitle}
  </h2>
  <MailCopy client:load />
  <SocialLinks />
  <a
    href="#projects"
    class="bg-[#1d68bd] text-sm px-4 py-2 mt-2 rounded-[10px] hover:brightness-[120%] transition-[filter] duration-[400ms]"
    >My Projects</a
  >
</section>

<style is:global>
  .not-working {
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      #27df5e 0%,
      #13aa96 50%,
      #25c293 100%
    );
  }
  .hero {
    animation: appear 0.3s linear forwards;
  }

  .working {
    background-image: conic-gradient(
      from 90deg at 50% 50%,
      #eb1c5a 0%,
      #6d0dcc 50%,
      #ff0080 100%
    );
  }

  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
</style>
