@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

input{
    border: none;
    outline: none;
}

@function calculate-rem($values){
    $rem-base: 16px;
    @each $key, $value in $values{
        #{$key}: $value / $rem-base + rem;
    }
}

@function calculate-em($values){
    $em-base: 16px;
    @each $key, $value in $values{
        #{$key}: $value / $em-base + em;
    }
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.17rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.83rem;
}
h6 {
    font-size: 0.67rem;
}
p {
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
}