---
import "../styles/index.scss";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
import "../assets/fonts/fonts.css";
import "../assets/icons/fontawesome/css/all.min.css";
import "../assets/icons/bootstrap/font/bootstrap-icons.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="dark:bg-gradient-to-l dark:from-[#0b132b] dark:to-[#1c2541] bg-gradient-to-l from-[#ccc] to-[#86888f] dark:text-[#cdced1] text-[#111]"
  >
    <slot />
  </body>
</html>
