---
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
import "../assets/fonts/fonts.css";
import "../assets/icons/fontawesome/css/all.min.css";
import "../assets/icons/bootstrap/font/bootstrap-icons.css";
import Navbar from "../shared/components/Navbar";
import GoHomeBtn from "../shared/components/GoHomeBtn";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/tk-icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-gradient-to-l from-[#0b132b] to-[#1c2541] text-[#f1f1f1] mx-auto max-w-[900px]"
  >
    <header>
      <Navbar client:load />
    </header>
    <slot />
    <GoHomeBtn client:load />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: dark;
  }
  body {
    font-family: "Open-sans";
    transition:
      color 0.4s,
      background 0.4s;
  }

  *,
  *::before,
  *::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  button,
  a {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: currentColor;
    transition:
      filter 0.4s,
      opacity 0.4s,
      background 0.4s,
      background-color 0.4s;
    &:disabled {
      opacity: 0.6;
    }
  }
  a {
    padding: 10px;
  }

  input {
    border: none;
    outline: none;
  }

  .fade-in {
    animation: fadeIn 0.4s ease-in-out;
  }
  .fade-out {
    animation: fadeOut 0.4s ease-in-out;
  }
  .show-menu {
    animation: showMenu 0.2s ease-in-out;
  }
  .show-menu-reverse {
    animation: showMenu 0.2s ease-in-out reverse;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes showMenu {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  button,
  input {
    transition: color 0.4s;
  }
</style>
