---
import "../styles/index.scss";
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
import Navbar from "../components/Navbar/Navbar.tsx";
import "../assets/fonts/fonts.css";
import "../assets/icons/fontawesome/css/all.min.css";
import "../assets/icons/bootstrap/font/bootstrap-icons.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/tk-icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-gradient-to-l from-[#0b132b] to-[#1c2541] text-[#f1f1f1]">
    <Navbar client:load />
    <slot />
  </body>
</html>
